.product{
    display: flex;
    border-right: 2px solid lightgreen;
    border-left: 2px solid lightgreen;
    border-bottom: 2px solid lightgreen;
    margin-right: 5px;
    padding: 10px; 
}
.product-name {
    margin-top: 10px;
    padding-left: 5px;
}


.product-name h2 {
    color:#5656f1 ;
    font-size: medium;
    font-weight: 500 ;
    
}

.product-name button {
    background-color: goldenrod;
    width: 150px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
}